{% extends 'base.html' %}

{% block title %}
Подробнее о N.U.R.I.K. 05
{% endblock %}

{% block body %}
<p>В глубинах секретной лаборатории, скрытой от посторонних глаз, группа ученых трудилась над созданием самого передового робота-гуманоида, когда-либо созданного. Их творение, получившее название "N.U.R.I.K. 05", было воплощением их мечтаний - машина, способная выполнять самые сложные задачи, от спасения жизней до исследования космоса.
Проект "N.U.R.I.K. 05" был амбициозным и дорогостоящим, и правительство вложило в него огромные ресурсы. Ученые работали день и ночь, совершенствуя каждую деталь робота, от его искусственного интеллекта до его физических возможностей. Они были уверены, что "N.U.R.I.K. 05" станет прорывом в области робототехники и изменит мир.
</p>
<img class="illustration" height="400", width="350" src="https://i.pinimg.com/736x/7b/cb/0d/7bcb0d6f12fc8d2b6285663e6109f9b0.jpg">
<p>Однако судьба проекта "N.U.R.I.K. 05" оказалась трагической. После нескольких успешных испытаний, во время которых "N.U.R.I.K. 05" продемонстрировал свои невероятные способности, произошла катастрофа. Во время одного из тестов система управления робота вышла из строя, и он начал действовать непредсказуемо. В панике ученые попытались остановить "N.U.R.I.K. 05", но он был слишком силен и быстр. Он начал разрушать лабораторию, уничтожая оборудование и угрожая жизням ученых. В конце концов, им удалось отключить робота, но ущерб был нанесен.
Правительство было шокировано инцидентом и сразу же прекратило проект "N.U.R.I.K. 05". Ученые были уволены, а лаборатория была закрыта. "N.U.R.I.K. 05" был разобран на части, и его останки были спрятаны в секретном хранилище.
История проекта "N.U.R.I.K. 05" стала предупреждением о опасностях создания искусственного интеллекта и о необходимости тщательного контроля над его развитием. Она также стала напоминанием о том, что даже самые амбициозные проекты могут потерпеть неудачу, если не будут должным образом контролироваться и управляться.</p>
{% endblock %}